:root {
  /* fonts */
  --font-candara: Candara;
  --font-inter: Inter;

  /* Colors */
  --color-white: #fff;
  --color-brown-100: rgba(255, 118, 118, 0.05);
  --color-gray-100: #888;
  --color-gray-200: rgba(255, 255, 255, 0.61);

  /* border radiuses */
  --br-xs: 18px;
  --br-sm: 21px;
  --br-md: 55px;
  --br-lg: 56px;
  --br-xl: 79px;
}
