body {
  margin: 0;
  line-height: normal;
}
.slide-169-1-child {
  position: absolute;
  top: 241px;
  left: 145px;
  border-radius: 50px;
  width: 1671px;
  height: 735px;
  object-fit: cover;
}
.slide-169-1-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #381c1c;
  width: 1920px;
  height: 194px;
}
.slide-169-1-inner {
  position: absolute;
  top: 46px;
  left: 201px;
  border-radius: 29px;
  background: linear-gradient(
    90.07deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 63, 63, 0.06)
  );
  width: 1679px;
  height: 103px;
}
.rectangle-div {
  position: absolute;
  top: 27px;
  left: 31px;
  border-radius: 31px;
  background-color: #653131;
  width: 141px;
  height: 141px;
}
.slide-169-1-child1,
.slide-169-1-child2 {
  left: 172px;
  background-color: var(--color-brown-100);
}
.slide-169-1-child1 {
  position: absolute;
  top: 1004px;
  border-radius: var(--br-xl);
  width: 1031px;
  height: 643px;
}
.slide-169-1-child2 {
  top: 1767px;
  width: 472px;
  height: 609px;
}
.rectangle-icon,
.slide-169-1-child2,
.slide-169-1-child3 {
  position: absolute;
  border-radius: var(--br-xl);
}
.rectangle-icon {
  top: 1708px;
  left: 724px;
  width: 1026px;
  height: 668px;
  object-fit: cover;
}
.slide-169-1-child3 {
  top: 995px;
  left: 1278px;
  background-color: var(--color-brown-100);
  width: 472px;
  height: 609px;
}
.design-example {
  position: absolute;
  top: 502px;
  left: 282px;
  letter-spacing: 0.25em;
  font-weight: 300;
  display: inline-block;
  width: 1357px;
  height: 193px;
}
.slide-169-1 {
  position: relative;
  background: linear-gradient(180deg, #260c0c, #000);
  width: 100%;
  height: 2721px;
  overflow: hidden;
  text-align: center;
  font-size: 128px;
  color: var(--color-white);
  font-family: var(--font-candara);
}
